<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- <context:component-scan base-package="com.test.springAppApp" /> -->

    <!-- Person -->
    <bean id="person0" class="com.test.entity.Person" autowire="byName">
        <!--<constructor-arg>-->
            <!--<ref bean="car"></ref>-->
        <!--</constructor-arg>-->
        <!--<lookup-method name="getCar" bean="car"/>-->
        <property name="name" value="Amit"></property>
        <property name="age" value="10"/>
        <!-- Inner bean -->
        <!-- <property name="car"> <bean id="car" class="com.test.entity.Car">
            <property name="model" value="i10"></property> <property name="capacity"
            value="250"></property> </bean> </property> -->

        <property name="friends">
            <list>
                <value>"abc"</value>
                <value>"def"</value>
                <value>"ghi"</value>
            </list>
        </property>

    </bean>


    <!-- Car -->
    <!--<bean id="car" class="com.test.entity.Car" lazy-init="true" scope="singleton">-->
    <bean id="car" class="com.test.entity.Car" lazy-init="true" scope="prototype">
        <property name="model" value="i10"></property>
        <property name="capacity" value="650"></property>
    </bean>

    <!-- <bean id="age" value="10" ></bean> -->


</beans>
